.container-fluid {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.left-side {
  background: #003087;
}

.dashboard-img-wrapper {
  width: 90%;
  display: flex;
  justify-content: center; /* Centers the image horizontally */
}

.dashboard-img {
  margin-top: 120px;
  width: 80%;
  height: auto;
}
.right-side {
  justify-content: center;
  align-items: center;
}
.frame {
  margin-top: 100px;
  margin-left: 60px;
}
.logo-img {
  max-width: 100%;
  height: auto;
  display: block;
}

h5 {
  color: white;
  font-weight: 350;

  font-family: "Maven Pro", serif;
  font-size: 30px;
}

.login-box {
  width: 100%;
  max-width: 400px;
  padding: 30px;
}

.form-group {
  margin-bottom: 15px;
}
.btn-block {
  width: 100%;
}
.text-center {
  font-family: "Maven Pro", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.1px;
  text-align: left;
  color: #012169;
}
small{
  text-align: left;
}
::placeholder,
input {
  font-family: "Maven Pro", serif;
  font-weight: 450;
}
.form-label {
  float: left;
  font-family: "Maven Pro", serif;
  font-weight: bold;
  color: #003087;
}
button {
  background: #009cde;
  width: 330px;
  height: 35px;
  font-family: Maven Pro;
  font-size: 20px;
  font-weight: 500;
  line-height: 28.2px;
  gap: 10px;
  border: white;
  border-radius: 4px 4px 4px 4px;
  opacity: 0px;
  color: rgb(255, 255, 255);
}

.forgot-password a:hover {
  text-decoration: underline;
}

.form-label {
  font-weight: bold;
  color: #003087;
}

.form-control-underline {
  border: none;
  border-bottom: 1px solid #22b6e4;
  width: 100%;
  outline: none;
  padding: 5px 0;
  font-size: 16px;
}

.form-control-underline:focus {
  border-bottom: 2px solid #007bff;
}

.input-group-append {
  position: absolute;
  right: 0px;
  top: 10px;
}

.input-group-text {
  background: none;
  border: none;
  cursor: pointer;
}

// @media only screen and (max-width: 600px),
//   only screen and (min-width: 601px) and (max-width: 1024px) and (orientation: portrait) {
//   .left-side,
//   .right-side {
//     flex: 0 0 100%; /* Ensures both sides are full width on small screens */
//   }
// }
