<div class="conatiner">
  <div class="row">
    <div>
      <h6>IRN's LIST >> IRN/2024-25/001</h6>
    </div>
    <div class="items">
      <div>
        <p>Created on 5/06/2024</p>
        <h6>IRN/2024-25/001</h6>
      </div>

      <div>
        <p>PR NO</p>
        <h6>DTNPL/IT/PR-039</h6>
      </div>
      <div>
        <p>PR Doc.pdf</p>

        <h6>PR Document</h6>
      </div>
      <div>
        <p>NFA Doc.pdf</p>

        <h6>NFA Document</h6>
      </div>
      <div>
        <button class="Irn">IRN on HOLD</button>
      </div>
      <div>
        <button class="copy">Copied FROM IRN</button>
      </div>
      <div>
        <button class="rfq">Genarate RFQ</button>
      </div>
    </div>

    <div class="div">
      <div class="card">
        <div class="left-card">
          <div class="wrapper">
            <ol class="c-timeline">
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <p class="c-timeline__title">IRN Created</p>
                </div>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <p class="c-timeline__title">IRN Assigned</p>
                </div>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <p class="c-timeline__title">PR Allocated</p>
                </div>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <p class="c-timeline__title">PR RFQ</p>
                </div>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <p class="c-timeline__title">Under Technical Evaluation</p>
                </div>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <p class="c-timeline__title">MAN Initiated</p>
                </div>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <p class="c-timeline__title">MAN &#64; MDO</p>
                </div>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <p class="c-timeline__title">MAN Approved</p>
                </div>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <p class="c-timeline__title">Adv To Pay</p>
                </div>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <p class="c-timeline__title">Order Under Execution</p>
                </div>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <p class="c-timeline__title">Material/Services Delivered</p>
                </div>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <p class="c-timeline__title">Final Payment</p>
                </div>
              </li>
              <li class="c-timeline__item">
                <div class="c-timeline__content">
                  <p class="c-timeline__title">Order Completed</p>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="right-card">
          <div class="left-side">
            <div class="form-group">
              <label for="prDate">PR Date</label>
              <input
                type="date"
                id="prDate"
                class="input-field"
                placeholder="Select Date"
              />
            </div>

            <div class="form-group">
              <label for="prIrnDate">PR/IRN Received Date</label>
              <input
                type="date"
                id="prIrnDate"
                class="input-field"
                placeholder="Select Date"
              />
            </div>

            <div class="form-group">
              <label for="sbu">SBU's</label>
              <select id="sbu" class="input-field">
                <option value="">Select</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>

            <div class="form-group">
              <label for="functionalArea">Functional Area/ID</label>
              <select id="functionalArea" class="input-field">
                <option value="">Select</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>

            <div class="form-group">
              <label for="subFunctionalArea">Sub-Functional Area/ID</label>
              <select id="subFunctionalArea" class="input-field">
                <option value="">Select</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
          </div>
          <div class="right-side">
            <div class="form-group">
              <label for="sbu">Segment/Group</label>
              <select id="sbu" class="input-field">
                <option value="">Select</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>

            <div class="form-group">
              <label for="functionalArea">Cost Centre/SPV/Project Name</label>
              <select id="functionalArea" class="input-field">
                <option value="">Select</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>

            <div class="form-group">
              <label for="subFunctionalArea">Qty/No of line items</label>
              <select id="subFunctionalArea" class="input-field">
                <option value="">Select</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
            <div class="form-group">
              <label for="subFunctionalArea">Order Type</label>
              <select id="subFunctionalArea" class="input-field">
                <option value="">Select</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
            <div class="form-group">
              <label for="subFunctionalArea">Nature of the Order</label>
              <select id="subFunctionalArea" class="input-field">
                <option value="">Select</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
          </div>
          <div class="bottom-field">
            <div class="form-group">
              <label for="subFunctionalArea">Package/Material Description</label>
              <input
                type="text"
                id="packageMaterialDescription"
                class="input-field"
              />
            </div>
            <!-- Add the button here -->
            <button class="btn-submit">Next</button>
          </div>
          
          

        </div>



        
    
      </div>
    </div>
  </div>
</div>
